// Home Content

.container {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  .main-img {
    width: 100%;
    margin-bottom: 4%;
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
   
   .blast {
   display: inherit;
    @media @phone {
        width: 100%;
      }
    }
    .sky {
    display: inherit;
    @media @phone {
      display: none;
      }
    }
      .launch {
        display: inherit;
        @media @phone {
        display: none;
      }
    }
  
    img {
      display: flex;
      width: 28%;
      margin: 20px 2%;
      border-radius: 10px;
      height: 100%;
     
  } 
  }

  .visit-planets {
    padding: 15px;
    width: 100%;

    h3 {
      margin-top: 11px;
      padding: 15px;
      margin-left: 2%;
      margin-bottom: 2%;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    display: flex;
    .flex-layout(space-between, center);
    margin-top: 20px;
    justify-content: center;
    .walk-text {
     width: 45%;  
     
}
    .walk-img {
      width: 45%;
      margin-left: 4%;
     
      img{
        border-radius: 10px; 
        width: 100%;
        
      }
    }
  }


.btn {
    background-color: black;
    border: none;
    color: white;
    .btn-layout(center, none);
    display: inline-block;
    font-size: 16px;
    padding: 3%;
    border-radius: 10px;
    &:hover {
      background-color:  white;
      color:  black;     
}
}
}
