// Navigation code here
.top {
    padding-bottom: 2%;
    h1 {
       text-align: center;
       font-size: 4rem;
       padding-bottom: 3%;
    }

        .links {
            .flex-layout(space-between, center);
            margin: 0 auto;
          
            @media @phone {
              width: 75%;

            }
            a {
                font-size: 1.8em;
                text-decoration: none;
                color: black;
                margin: 0 auto;
                }
              
            }
            
  
        } 