// Navigation code here
.top {
    padding-bottom: 2%;
    h1 {
       text-align: center;
       font-size: 5rem;
    }
}
        .links {
            display: flex;
            text-align: center;
            
            @media @mobile {
              width: 75%;

            }
            a {
                font-size: 2em;
                text-decoration: none;
                color: black;
                margin: 0 auto;
                }
              }

        
  
  
  